* {
  margin: 0;
  padding: 0;
}

.App {
  margin-left: 2em;
}

.App > h1 {
  font-size: 3em;  
  margin-top: 1em;
}
.App > p { 
  font-size: 2em;
  margin-bottom: .5em;
}

.App > ul > li {
  font-size: 2em;
  margin-left: 1em;
}